@import "variables";
@import "mixins";

.excel-toolbar {
    padding: 15px 0;
    border-top: 1px solid $mainColor;
    border-bottom: 1px solid $mainColor;
    &__btn {
        margin-right: 20px;
        &--gray {
            @include button(gray,#a9a2a2,20px);
        }
        &--black {
            @include button(#000,rgba(29, 28, 28,.8),20px);
        }
        &:last-child {
            margin-right: 0;
        }
    }
}